@import "tailwindcss";
@import "tw-animate-css";



@font-face {
    font-family: "Jersey10";
    src: url("/fonts/jersey/Jersey10-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Chivo/Chivo-VariableFont_wght.ttf") format("truetype");
    font-family: "Chivo", cursive;
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
}


:root {
    --jersey-font: "Jersey10", sans-serif;
    --garet-font: "Garet", sans-serif;
    --background: oklch(18.5% 0 0);
    --foreground: oklch(98.2% 0.01 104);
    --card: oklch(4.2% 0 0);
    --card-foreground: oklch(98.2% 0.01 104);
    --popover: oklch(4.2% 0 0);
    --popover-foreground: oklch(98.2% 0.01 104);
    --primary: oklch(52.306% 0.24451 277.406);
    --primary-foreground: oklch(24.1% 0 0);
    --secondary: oklch(15.5% 0 0);
    --secondary-foreground: oklch(98.2% 0.01 104);
    --muted: oklch(56.2% 0.04 270);
    --muted-foreground: oklch(66.1% 0.02 270);
    --accent: oklch(15.5% 0 0);
    --accent-foreground: oklch(98.2% 0.01 104);
    --destructive: oklch(36.7% 0.17 29);
    --destructive-foreground: oklch(98.2% 0.01 104);
    --border: oklch(33.6% 0 0);
    --input: oklch(15.5% 0 0);
    --ring: oklch(85.2% 0.01 270);
    --chart-1: oklch(66.2% 0.19 259);
    --chart-2: oklch(77.2% 0.16 152);
    --chart-3: oklch(80.2% 0.16 81);
    --chart-4: oklch(54.2% 0.18 292);
    --chart-5: oklch(62.2% 0.22 29);
    --radius: 0.5rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-border: var(--border);
    --radius: var(--radius);
    --font-jersey: var(--jersey-font);
    --font-garet: var(--garet-font);

}


@layer base {

    * {
        box-sizing: border-box;
    }


    body {
        /* background-color: var(--background); */
        background-color: black;
        color: var(--foreground)
    }

}


@layer base {
    @view-transition {
        navigation: auto;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none !important;
    }

    ::view-transition-group(root) {
        z-index: auto !important;
    }

    ::view-transition-image-pair(root) {
        isolation: isolate;
        will-change: transform, opacity, clip-path;
        z-index: 1;
    }

    ::view-transition-old(root) {
        z-index: 1;
        animation: none !important;
    }

    ::view-transition-new(root) {
        z-index: 9999;
        animation: none !important;
    }
}

@layer base {

    /* For Webkit Browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        display: none;

        width: 8px;
        /* Width of the scrollbar */
        height: 8px;
        /* Height for horizontal scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: var(--background);
        display: none;
        /* Track color */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--muted);
        display: none;
        /* Scrollbar color */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
        /* Hover effect */
    }
}